header h2 {
  text-align: center;
  color: antiquewhite;
  margin: 50px 0 20px;
}

.inputCon {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.input {
  width: 77.3%;
  height: 50px;
  margin: 50px 0px 0 0px;
  padding: 5px 10px;
  border-radius: 3px;
  color: burlywood;
  border: 1px solid #6b5a5a;
  background-color: #1d1e20;
  box-shadow: 0px 0px 12px #18191b;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #473333;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}

.coinContainer {
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
}

.title {
  width: 77%;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc107;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.title span:nth-child(4) {
  padding-left: 90px;
}

/* //////////////////////.......................////////////////////// */

@media (max-width: 768px) {
  .title span:nth-child(4) {
    padding-left: 1px;
  }
}

@media (max-width: 578px) {
  .title span:nth-child(4) {
    padding-left: 0px;
  }
}